<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button mat-dialog-close class="btn-cancel">
    <i class="bi bi-x-circle"></i>
  </button>
</mat-dialog-actions>

<mat-dialog-content>
  <div class="container mt-3" *ngFor="let artist of data">
    <div class="card artist-card d-flex align-items-center text-center">
      <a (click)="closeDialog(artist)" class="artist-link">
        <img [src]="artist.images[2].url" alt="{{artist.name}}" class="img-fluid artist-image rounded-circle">
        <div class="info flex-grow-1 ml-3 mt-3">
          <h3 class="artist-name"><b>{{artist.name}}</b></h3>
          <p class="artist-genre">{{artist.genres[0] | titlecase}}</p>
        </div>
      </a>
    </div>
  </div>
</mat-dialog-content>
