<div class="container">
  <div class="row justify-content-center align-items-center mt-5">
      <div class="col-3">
          <div class="app-box text-center bg-dark">
              <h2><b>Playlist Generator</b></h2>
              <p class="pt-3">Welcome to Playlist Generator! This app is designed to create personalized playlists on Spotify based on artist. Simply enter your favorite artist name and it will generate the perfect soundtracks for you. Try it now and discover new music that matches your style!</p>
              <button type="submit" class="btn btn-success mt-3" (click)="redirectToAuthCodeFlow()"><i class="bi bi-spotify me-3"
                ></i>Connect your Spotify account</button>
          </div>
      </div>
  </div>
</div>
